.container{
    max-width: 140rem;
    padding: 4.2rem 2.4rem;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 3.2rem;
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: center;
    background-color:#646cff;
    width: 100%;
    padding: 2.2rem 2.2rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 1rem;
}
li:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
}
.logo-brand img{
    animation: img infinite 7s linear;
}
@keyframes img {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  